# Variables pour le SIP Trunk (Zadarma)
# Ces valeurs seront utlisées pour configurer le pjsip.conf si vous utilisez un script d'initialisation,
# ou pour d'autres connecteurs selon votre besoin. (A noter : dans le pjsip.conf généré, 
# il faut remplacer manuellement VOTRE_SIP_ID et VOTRE_MOT_DE_PASSE_SIP)
ZADARMA_SIP_USERNAME=123456
ZADARMA_SIP_PASSWORD=VotreMotDePasseSecret

# Clés API pour l'Agent Vocal (LLM & STT/TTS)
OPENAI_API_KEY=sk-xxxxxxx
GEMINI_API_KEY=AIxxxxxx
